---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="text-red-500">✍️ Welcome to Santiago's Musings</h1>
			<p>
				Greetings! I'm Santiago Paiz, a thinker, writer, and explorer of ideas. This is my personal corner on the web where I share my opinions, insights, and the occasional epiphany. Dive into my blog for a blend of thoughtful commentary and in-depth analysis on a variety of topics.
			</p>
			<p>
				My blog is built with simplicity in mind, allowing my words and thoughts to take center stage. I'm always looking for ways to improve and expand, so feel free to explore and see what's new.
			</p>
			<p>Here's what you can do to engage with my content:</p>
			<ul>
				<li>Read my latest thoughts on the <a href="/blog">blog page</a>.</li>
				<li>Learn more about me and my journey on the <a href="/about">about page</a>.</li>
				<li>Connect with me on social media or contact me <a href="/contact">here</a>.</li>
				<li>Find out what I'm currently working on in the <a href="/projects">projects section</a>.</li>
				<li>Share your feedback to help me grow and refine my perspectives.</li>
			</ul>
			<p>
				If my writings resonate with you or spark curiosity, let's start a conversation. Your thoughts and comments are always appreciated.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
